{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 160,
        "tabWidth": 4,
        "useTabs": false,
        "bracketSpacing": false
      }
    }
  ],
  "plugins": ["prettier-plugin-solidity"]
}
