config:
  nitronodeWsUrl: "wss://nitronode-stress.yellow.org/v1/ws"

service:
  http:
    enabled: true
    port: 8080
    path: /playground

metrics:
  enabled: false

replicaCount: 1
resources:
  requests: { cpu: 50m, memory: 64Mi, ephemeral-storage: 64Mi }
  limits:   { cpu: 100m, memory: 128Mi, ephemeral-storage: 128Mi }

autoscaling:
  enabled: false

networking:
  externalHostname: nitronode-stress.yellow.org
  tlsClusterIssuer: zerossl-prod
  gateway:
    enabled: false
  ingress:
    enabled: true
    className: nginx
    tls:
      enabled: true
